<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<style>
    .body {
        background: #c8ebaf;
        position: relative;
        font-size: 16px;
    }

        .body input {
            color: #fff;
            text-align: center;
        }

            .body input:hover, .body input:focus, .body input:active {
                border-color: #fff;
            }

    h1, h2 {
        color: inherit;
        text-shadow: 1px 1px #fff;
    }

   .content-wrapper {
        padding-left: 200px;
        padding-top: 80px;
        padding-bottom: 50px;
        padding-right: 20px;
        background-image: url(/modules/templates/floral-frame-1/FRao4Rs-flower-frame.png);
        background-size: cover;
        color: #fffae3;
    }

    .absolute-center {
        max-width: 940px;
        left: -80px;
    }

    .content-wrapper .content {
        text-align: center;
        position: relative;
        height: 400px;
    }

    h1 {
        font-family: 'Great Vibes';
        font-size: 10vh;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 8vh;
    }

    p {
        margin-top: 1em;
    }
    .footer {
        background: none;
        position: relative;
        margin-top: 30px;
    }
/*
    .response-modal .modal-header {
        background: #94c653;
    }*/
</style>
<div class="body">
    <div class="content-wrapper absolute-center">
        <fields class="content" read-only="readOnly">
            <h1>You're invited to</h1>
            <h2>
                <field ng-model="invitation.details.title" placeholder="[Event Title]"></field>
            </h2>
            <div class="details row">
                 <div class="col-md-4">
                    <field ng-model="invitation.details.hostName" placeholder="[Host]"></field>&nbsp
                    <field ng-if="!readOnly" type="tel" ng-model="invitation.details.phone" placeholder="[Phone]">
                        <i class="fa fa-phone"></i>
                    </field>
                    <a ng-if="readOnly && invitation.details.phone" ng-href="tel:{{invitation.details.phone}}">
                        <i class="fa fa-phone"></i>
                        {{invitation.details.phone}}
                    </a>
                </div>
                <div class="col-md-4">
                    <field filter="date:fullDate" placeholder="[Date]" ng-model="invitation.details.date"></field>
                    <br/>
                    <field filter="date:shortTime" placeholder="[Start time]" ng-model="invitation.details.startTime"></field>
                    <field filter="date:shortTime" ng-if="invitation.details.endTime" ng-model="invitation.details.endTime">- </field>
                </div>
                <div class="col-md-4">
                    <field ng-model="invitation.details.location" placeholder="[Location Name]"></field>
                    <br />
                    <field ng-model="invitation.details.address.description" placeholder="[Location Address]"></field>
                </div>
               
<!--                <div class="col-md-12">
                    <p>
                        <field type="textarea" ng-model="invitation.details.additionalInfo"></field>
                    </p>
                </div>-->
            </div>
            <div ng-include="'/modules/invitation/_shared/_invitationFooterWithModal.html'"></div>
        </fields>
    </div>
</div>