<fields read-only="readOnly">
	<!--Title field-->
	<field ng-model="invitation.details.title" placeholder="[Event Title]"></field>
	<!-- Name field-->
	<field ng-model="invitation.details.name" placeholder="[Name]"></field>
	<!-- Date field -->
	<field filter="date:fullDate" placeholder="[Date]" ng-model="invitation.details.date"></field>
	<!-- Start Time field-->
	<field filter="date:shortTime" placeholder="[Start time]" ng-model="invitation.details.startTime"></field>
	<!-- End Time field-->
	<field filter="date:shortTime" placeholder="[End time]" ng-model="invitation.details.endTime"></field>
	<!--Location field-->
	<field ng-model="invitation.details.location" placeholder="[Location Name]"></field>
	<!--Location address field-->
	<field ng-model="invitation.details.address.description" placeholder="[Location Address]"></field>
	<!-- Contact info fields -->
	<!-- <p class="contact-info" ng-if="readOnly">Contact:
		<a ng-if="invitation.details.contactPhone" ng-href="tel:{{invitation.details.contactPhone}}">
           <i class="fa fa-phone"></i>{{invitation.details.contactPhone}}
        </a>
		<a ng-if="invitation.details.contactEmail" ng-href="tel:{{invitation.details.contactEmail}}">
        	<i class="fa fa-envelope"></i>{{invitation.details.contactEmail}}
        </a>
	</p>
	<p class="contact-info" ng-if="!readOnly">Contact:
		<i class="fa fa-phone"></i>
		<field ng-model="invitation.details.contactPhone" placeholder="[]"></field>
		<i class="fa fa-envelope"></i>
		<field ng-model="invitation.details.contactEmail" placeholder="[]"></field>
	</p>-->
	<!-- Host name-->
	<field ng-model="invitation.details.hostName" placeholder="[Host]"></field>
	<!-- Phone -->
	<field ng-if="!readOnly" ng-model="invitation.details.phone" placeholder="[Phone]">
		<i class="fa fa-phone"></i>
	</field>
	<a ng-if="readOnly && invitation.details.phone" ng-href="tel:{{invitation.details.phone}}">
	    <i class="fa fa-phone"></i>
	    {{invitation.details.phone}}
	</a>
	<!-- Additional info -->
	<field type="textarea" ng-model="invitation.details.additionalInfo"></field>
</fields>