@invitation-sidebar-width: 320px;

.invitation-view {

    .invitation {
        height: 100%;
        width: 100%;
        position: absolute;
    }


    .invitation-body {
        height: calc(~"100% - 56px");
        width: 100%;
        display: inline-block;
        position:relative;
    
        > .body {
            height: 100%;
            width: 100%;
            position: relative;
            display: inline-block;
        }
   
    }
}

