<link href="/modules/templates/views/templates/minnie_daisy/style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<div class="body">
    <div class="container">
        <img class="img-left" src="/modules/templates/views/templates/minnie_daisy/Minnie.png" />
        <fields class="content" read-only="readOnly">
            <h1>
                <field ng-model="invitation.details.name" placeholder="[Name]"></field>
            </h1>
            <h2>is turning
                <field ng-model="invitation.details.age" placeholder="[age]"></field>
            </h2>
            <p>
                <field filter="date:fullDate" placeholder="[Date]" ng-model="invitation.details.date"></field>
                <field filter="date:shortTime" placeholder="[Start time]" ng-model="invitation.details.startTime"></field>
                <field filter="date:shortTime" ng-if="invitation.details.endTime" ng-model="invitation.details.endTime">-</field>
            </p>
            <p>
                <field ng-model="invitation.details.location" placeholder="[Location Name]"></field>
                <br />
                <field ng-model="invitation.details.address.description" placeholder="[Location Address]"></field>
            </p>
            <p>
                <field ng-model="invitation.details.hostName" placeholder="[Host]"></field>&nbsp
                <field ng-if="!readOnly" type="tel" ng-model="invitation.details.phone" placeholder="[Phone]">
                    <i class="fa fa-phone"></i>
                </field>
                <a ng-if="readOnly && invitation.details.phone" ng-href="tel:{{invitation.details.phone}}">
                        <i class="fa fa-phone"></i>
                        {{invitation.details.phone}}
                    </a>
            </p>
        </fields>
        <img class="img-right" src="/modules/templates/views/templates/minnie_daisy/Daisy.png" />
    </div>
</div>
<div ng-include="'/modules/invitation/_shared/_invitationFooterWithModal.html'"></div>
</div>