<link href="/modules/templates/views/templates/minnie_daisy/style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<div class="body">
    <div class="content">
        <img class="img-left" src="/modules/templates/views/templates/minnie_daisy/Minnie.png" />
        <fields class="text" read-only="readOnly">
            <h1>
                <field ng-model="invitation.details.name" placeholder="[name]"></field>
            </h1>
            <h2>is turning
                <field ng-model="invitation.details.age" placeholder="[age]"></field>
            </h2>
            <p>
                <field filter="date:fullDate" placeholder="[Date]" ng-model="invitation.details.date"></field>
                <field filter="date:shortTime"placeholder="[HH:MM]" ng-model="invitation.details.time"></field>
            </p>
            <p>
                <field ng-model="invitation.details.location" placeholder="[Location Name]"></field>
                <br />
                <field ng-model="invitation.details.address.description" placeholder="[Location Address]"></field>
            </p>
            <p class="contact-info" ng-if="readOnly">RSVP:
                <a ng-if="invitation.details.contactPhone" ng-href="tel:{{invitation.details.contactPhone}}">
                    <i class="fa fa-phone"></i>
                    {{invitation.details.contactPhone}}
                </a>
                <a ng-if="invitation.details.contactEmail" ng-href="tel:{{invitation.details.contactEmail}}">
                    <i class="fa fa-envelope"></i>
                    {{invitation.details.contactEmail}}
                </a>
            </p>
            <p class="contact-info" ng-if="!readOnly">RSVP:
                <i class="fa fa-phone"></i>
                <field ng-model="invitation.details.contactPhone"></field>
                <i class="fa fa-envelope"></i>
                <field ng-model="invitation.details.contactEmail"></field>
            </p>
        </fields>
        <img class="img-right" src="/modules/templates/views/templates/minnie_daisy/Daisy.png" />
    </div>
</div>
<div ng-include="'/modules/invitation/_shared/_invitationFooterWithModal.html'"></div>
</div>