
<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<style>
    .body {
        font-size: 16px;
        color: #fff;
        display: table !important;
        min-height: 100%;
    }

    .left, .right {
        display: table-cell;
    }

    .left {
        width: 30%;
    }

    .right {
        width: 70%;
    }

    .side-img {
        background-image: url(/Views/Templates/red-roses-black/red-roses.jpg);
        background-size: cover;
    }

    .body .right {
        background-image: url(/Views/Templates/red-roses-black/1685510.jpg);
        background-size: cover;
        position: relative;
        padding: 50px;
    }

    .body .content p:first-child {
        margin-top: 30px;
    }

    .body h1, .body h1 input,
    .body h3, .body h3 input {
        color: #fff;
        font-family: 'Great Vibes';
    }

        .body h1 input {
            font-size: 7vh;
        }

    .body input {
        color: #fff;
        font-size: 14px;
    }

        .body input:hover, .body input:focus, .body input:active {
            border-color: #fff;
        }

    .contact-info i {
        margin-right: 5px;
        margin-left: 10px;
    }

    .contact-info a,
    .contact-info a:hover,
    .contact-info a:active,
    .contact-info a:visited {
        color: #fff;
    }

    .footer {
        position: relative;
        background: none;
        margin-top: 30px;
        padding: 0;
    }

        .footer .response {
            text-align: left;
        }
</style>
<div class="body">
    <div class="left side-img">
        <br />
    </div><div class="right">
        <div class="content">
            <h1>
                <input type="text" ng-model="invitation.details.brideName" placeholder="[Bride Name]" />
            </h1>
            <h3>and</h3>
            <h1>
                <input type="text" ng-model="invitation.details.groomName" placeholder="[Groom Name]" />
            </h1>
            <p>
                Request your presence
                at the celebration of
                their marriage.
            </p>

            <p>
                Date:
                <input class="inline" auto-expand datepicker-popup="fullDate" placeholder="MM/DD/YYYY" ng-model="invitation.details.date" />
                <input class="inline" size="8" timepicker-popup placeholder="HH:MM" ng-model="invitation.details.time" />
            </p>
            <p>
                Location:
                <input type="text" auto-expand ng-model="invitation.details.location" placeholder="[Location Name]" /><br />
                <input type="text" auto-expand ng-model="invitation.details.address.description" placeholder="[Location Address]" />
            </p>
            <p class="contact-info"
               ng-if="readOnly && (invitation.details.contactPhone || invitation.details.contactEmail)">
                Contact info:
                <a ng-if="invitation.details.contactPhone" ng-href="tel:{{invitation.details.contactPhone}}">
                    <i class="fa fa-phone"></i>
                    {{invitation.details.contactPhone}}
                </a>
                <a ng-if="invitation.details.contactEmail" ng-href="tel:{{invitation.details.contactEmail}}">
                    <i class="fa fa-envelope"></i>
                    {{invitation.details.contactEmail}}
                </a>
            </p>
            <p class="contact-info" ng-if="!readOnly && (invitation.details.contactPhone || invitation.details.contactEmail)">
                Contact info:
                <i class="fa fa-phone"></i><input type="tel" auto-expand ng-model="invitation.details.contactPhone" />
                <i class="fa fa-envelope"></i><input type="tel" auto-expand ng-model="invitation.details.contactEmail" />
            </p>
            <p>Reception to follow.</p>

        </div>
        <div ng-if="invitation.options.showRSVP" ng-include="'/Views/Shared/_InvitationFooterWithModal.html'">
        </div>
    </div>

</div>
