
<link href="/views/templates/cupcake/style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<div class="body">
    <div class="content">
        <h1>Let's celebrate!</h1>
        <div><b>You're invited to</b></div>
        <h2><input auto-expand ng-model="invitation.details.name" placeholder="[Name]" /> Birthday Party</h2>
        <p>
            <b>When: </b><input class="inline" auto-expand datepicker-popup="fullDate" placeholder="MM/DD/YYYY" ng-model="invitation.details.date" />
            <input class="inline" size="8" timepicker-popup placeholder="HH:MM" ng-model="invitation.details.time" />
        </p>
        <p>
            <b>Where: </b><input auto-expand ng-model="invitation.details.location" placeholder="[Location name]" /><br />
            <input auto-expand ng-model="invitation.details.address" placeholder="Location address" />
        </p>
        <p class="contact-info"
           ng-if="readOnly && (invitation.details.contactPhone || invitation.details.contactEmail)">
            Contact info:
            <a ng-if="invitation.details.contactPhone" ng-href="tel:{{invitation.details.contactPhone}}">
                <i class="fa fa-phone"></i>
                {{invitation.details.contactPhone}}
            </a>
            <a ng-if="invitation.details.contactEmail" ng-href="tel:{{invitation.details.contactEmail}}">
                <i class="fa fa-envelope"></i>
                {{invitation.details.contactEmail}}
            </a>
        </p>
        <p class="contact-info" ng-if="!readOnly && (invitation.details.contactPhone || invitation.details.contactEmail)">
            Contact info:
            <i class="fa fa-phone"></i><input type="tel" auto-expand ng-model="invitation.details.contactPhone" />
            <i class="fa fa-envelope"></i><input type="tel" auto-expand ng-model="invitation.details.contactEmail" />
        </p>
    </div>
    <div ng-include="'/Views/Shared/_InvitationFooter.html'"></div>

</div>
