<form name="form.detailsForm" class="form-horizontal" ng-submit="save()">
    <div class="panel panel-default animated fast fadeInLeft">
        <!-- <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
                Edit your invitation by editing the fields below, or directly in the invitation preview.
                </div>-->
        <div class="panel-body">
            <div class="form-group" ng-if="template.detailsFields.title">
                <label class="col-sm-4 control-label" for="title">Title:</label>
                <div class="col-sm-8">
                    <input id="title" class="form-control col-sm-8" type="text" ng-model="invitation.details.title" />
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.name">
                <label for="title" class="col-sm-4 control-label">Name:</label>
                <div class="col-sm-8">
                    <input id="name" class="col-sm-8 form-control" type="text" ng-model="invitation.details.name" />
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.age">
                <label for="title" class="col-sm-4 control-label">Age:</label>
                <div class="col-sm-8">
                    <input id="age" class="col-sm-8 form-control" type="number" size="2" ng-model="invitation.details.age" />
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.brideName">
                <label for="brideNmae" class="col-sm-4 control-label">Bride Name:</label>
                <div class="col-sm-8">
                    <input id="brideNmae" class="col-sm-8 form-control" type="text" ng-model="invitation.details.brideName" />
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.groomName">
                <label for="groomName" class="col-sm-4 control-label">Groom Name:</label>
                <div class="col-sm-8">
                    <input id="groomName" class="col-sm-8 form-control" type="text" ng-model="invitation.details.groomName" />
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-4 control-label">Date:</label>
                <div class="col-sm-8 input-group datepicker">
                    <input class="form-control" datepicker-popup show-weeks="false" show-button-bar="false" ng-model="invitation.details.date"
                    is-open="isOpened" />
                    <span class="btn input-group-btn" ng-click="
                            $event.preventDefault();
                            $event.stopPropagation();
                            isOpened=true; ">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group" ng-if="template.detailsFields.startTime ">
                    <label for="startTime " class="col-sm-4 control-label ">Start Time:</label>
                    <div class="col-sm-8 input-group timepicker ">
                        <input class="form-control " timepicker-popup is-open="timepickerOpened " ng-model="invitation.details.startTime " />
                        <span class="btn input-group-btn " ng-click=" $event.preventDefault(); $event.stopPropagation(); timepickerOpened=true; ">
                            <i class="fa fa-clock-o "></i>
                        </span>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="endTime" class="col-sm-4 control-label">End Time:</label>
                    <div class="col-sm-8 input-group timepicker">
                        <input class="form-control" timepicker-popup is-open="timepickerOpened" ng-model="invitation.details.endTime" />
                        <span class="btn input-group-btn" ng-click="
                            $event.preventDefault();
                            $event.stopPropagation();
                            timepickerOpened=true; ">
                            <i class="fa fa-clock-o"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.location">
                <label for="location" class="col-sm-4 control-label">Location name:</label>
                <div class="col-sm-8">
                    <input id="location" type="text" class="form-control" ng-model="invitation.details.location" />
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.address">
                <label for="address" class="col-sm-4 control-label">Address:</label>
                <div class="input-group col-sm-8">
                    <address-autocomplete class="form-control" address-data="invitation.details.address"></address-autocomplete>
                    <span class="input-group-icon">
                        <i class="fa fa-map-marker"></i>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.hostName">
                <label for="host" class="col-sm-4 control-label">Host Name:</label>
                <div class="col-sm-8">
                    <input id="host" class="form-control" ng-model="invitation.details.hostName" />
                </div>
            </div>
            <div class="form-group" ng-if="template.detailsFields.phone">
                <label for="phone" class="col-sm-4 control-label">Phone:</label>
                <div class="col-sm-8">
                    <input id="phone" class="form-control" type="tel" ng-model="invitation.details.phone" />
                </div>
            </div>
            <div class="form-group">
                <label for="info" class="col-sm-4 control-label">Additional Info:</label>
                <div class="col-sm-8">
                    <textarea id="info" class="textarea-expand" class="form-control" ng-model="invitation.details.additionalInfo" />
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-default" value="Reset" ng-click="reset()" />
            <input type="submit" class="btn btn-default" value="Save Draft" />
            <a ui-sref="editInvitation.options" class="btn btn-success pull-right" ng-click="navigate()" ng-disabled="form.detailsForm.$invalid">Next</a>
            <toast></toast>
        </div>
    </div>
</form>