<div class="edit-invitation" ng-class="{'sidebar-collapse': !showEditPanel}">
    <div class="sidebar-panel">
 
        <div class="step-crumbs">
            <ul>
                <li>
                    <a href="#" ui-sref-active-eq="active" ui-sref="editInvitation.details"
                       ng-click="navigate()">Details</a>
                </li>
                <li>
                    <a href="#" ui-sref-active-eq="active" ui-sref="editInvitation.options"
                       ng-click="navigate()">Options</a>
                </li>
                <li>
                    <a href="#" ui-sref-active-eq="active" ui-sref="editInvitation.guestList"
                       ng-click="navigate()">Guestlist</a>
                </li>
            </ul>
        </div>
        <div class="loading-overlay" ng-show="loader.saving">
            Saving invitation...
        </div>
        <div ui-view class="sidebar-content"></div>
<!--        <span class="btn btn-default btn-collapse" ng-click="showEditPanel = !showEditPanel">
            <i class="fa fa-toggle-left"></i>
        </span>-->
    </div>

    <div class="loader-wrapper" ng-show="loader.loading">
        <img class="loader" src="/images/swirl.GIF" />
    </div>
    <div class="invitation invitation-view">
        <button class="btn btn-primary toggle-bar animated fadeInLeft" ng-class="{'active':showEditPanel}" 
            ng-click="showEditPanel=!showEditPanel">
            <span class="fa fa-bars"></span>
        </button>
<!--        <div class="header preview text-center">Preview</div>-->
<!--        <div class="invitation-sidebar" ng-include="'/modules/invitation/view/views/sidebar.html'"></div>-->
        <div class="invitation-body" ng-include="templatePath">
        </div>
    </div>
</div>

