<link href="/Views/templates/minnie_daisy/style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<div class="body">
    <div class="content">
        <img class="img-left" src="/Views/Templates/minnie_daisy/Minnie.png" />
        <div class="text">
            <h3>Sunteti invitati la petrecere!</h3>
            <h2>
                Daria implineste<br />
                3 ani
            </h2>
            <p>Data: 28 Feb 2015, ora 18:00</p>
            <p>
                Locatie: Prichindelul Vesel <br />
                Strada Campului nr. 176, Cluj-Napoca
            </p>
        </div>
        <img class="img-right" src="/Views/Templates/minnie_daisy/Daisy.png" />
    </div>
    <div ng-include="'/modules/invitation/_shared/_invitationFooter.html'"></div>
    </div>
</div>
