.body {
    background-image: url(/Views/Templates/minnie_daisy/background.png);
    background-color: #b386c6;
    overflow: hidden;
}

.content {
    height: 100%;
    width: 600px;
    position: relative;
    margin: auto;
    top: -50px;
    background-image: url(/Views/Templates/minnie_daisy/minnie_head_white.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: inherit;
}

    .content .text {
        color: #b386c6;
        position: relative;
        top: 220px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .content input {
        color: #b386c6;
        text-align: center;
        display: inline-block;
    }

    .content p:last-child {
        font-size: 16px;
    }

h1, h2 {
    color: #b386c6;
    font-family: 'Cookie';
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-bottom: 20px;
}

/*.img-content {
    position: relative;
    z-index: -1;
    height: 100%;
    width: auto;
    margin-top: -50px;
}*/

.img-left, .img-right {
    position: absolute;
    bottom: 10px;
    max-height: 80%;
}

.img-left {
    left: -30%;
    ;
}

.img-right {
    right: -20%;
}

.footer {
    background-color: #a765c3;
    color: #fff;
    opacity: .9;
}
