<div class="container search-page">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="/#/invitations/designs//">Invitations</a>
        </li>
        <li>
            <a href="/#/invitations/designs/{{category}}/">{{category}}</a>
        </li>
        <li class="active">{{subcategory}}</li>
    </ul>
    <div class="filters">
        <a class="pull-right" ng-click="clearFilters()">
            x clear filters
        </a>
        <div ng-if="!subcategory" class="animated fadeIn">
            <div ng-repeat="category in categories">
                <h6 ng-click="category.collapsed=!category.collapsed">
                    <span class="fa toggle" ng-class="{'collapsed': category.collapsed}"></span>{{category.name}}</h6>
                <ul class="list-group" collapse="category.collapsed">
                    <li ng-repeat="subcategory in category.subcategories">
                        <a href="/#/invitations/designs/{{category.name}}/{{subcategory.name}}">{{subcategory.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="subcategory">
            <h6 ng-click="styles_collapsed=!styles_collapsed">
                <span class="fa toggle" ng-class="{'collapsed': styles_collapsed}"></span>Styles</h6>
            <ul class="list-group" collapse="styles_collapsed">
                <li ng-repeat="style in filters.styles">
                    <label class="checkbox" btn-checkbox ng-model="style.checked" ng-change="search()">{{style.name}}</label>
                </li>
            </ul>
            <h6 ng-click="themes_collapsed=!themes_collapsed">
                <span class="fa toggle" ng-class="{'collapsed': themes_collapsed}"></span>Themes</h6>
            <ul class="list-group" collapse="themes_collapsed">
                <li ng-repeat="theme in filters.themes">
                    <label class="checkbox" btn-checkbox ng-model="theme.checked" ng-change="search()">{{theme.name}}</label>
                </li>
            </ul>
            <h6 ng-click="colors_collapsed=!colors_collapsed">
                <span class="fa toggle" ng-class="{'collapsed': colors_collapsed}"></span>Colors</h6>
            <ul class="list-group colors" collapse="colors_collapsed">
                <li ng-repeat="color in filters.colors">
                    <label class="colorbox {{color.name.toLowerCase()}}" title="{{color.name}}" btn-checkbox ng-model="color.checked" ng-change="search()"></label>
                </li>
            </ul>
        </div>
    </div>
    <div class="results">
        <h5>{{subcategory ? subcategory : category}} Invitations</h5>
        <hr />
        <div ng-repeat="template in results" class="invitation thumbnail ng-animated fadeIn">
            <a ng-href="/#/invitations/designs/{{category}}/{{subcategory}}/{{template.id}}" class="img">
                <img ng-src="{{template.imagePath}}" />
            </a>
            <div class="caption">
                <span class="title">{{template.name}}</span>
                <div class="actions">
                    <span class="fa fa-eye"></span>
                    <span class="fa fa-search"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>