<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<style>
    .body {
        background: #f7f0f7;
        color: #7e5881;
        position: relative;
        font-size: 16px;
    }

    .body input {
         color: #7e5881;
         text-align: center;
    }

    h1, h2 {
        color: inherit;
    }

    .top-frame, .bottom-frame {
        height: 160px;
        width: 100%;
        position: absolute;
        background-repeat: repeat-x;
        background-size: contain;
    }

    .top-frame {
        top: 0;
        background-image: url(/modules/templates/views/templates/floral-1/floral-border-top.png);
    }

    /*.bottom-frame {
        bottom: 0;
        background-image: url(../floral-1/floral-border-bottom.jpg);
        background-repeat: repeat-x;
    }*/

    .content {
        height: calc(100% - 70px);
        padding-top: 160px;
        margin: auto;
        text-align: center;
    }

    h1 {
        font-family: 'Great Vibes';
        font-size: 10vh;
    }

    h2 {
        margin-bottom: 40px;
        font-size: 8vh;
    }

    .footer {
        background: #ebc8de;
        position: absolute;
        bottom: 0;
    }
</style>
<div class="body">
    <div class="top-frame"></div>
    <fields class="content container" read-only="readOnly">
        <h1>You're invited to</h1>
        <h2>
            <field ng-model="invitation.details.title" placeholder="[Event Title]"></field>
        </h2>
        <div class="details row">
            <div class="col-md-4">
                <field filter="date:fullDate" placeholder="[Date]" ng-model="invitation.details.date"></field>
                <br/>
                <field filter="date:shortTime" placeholder="[time]" ng-model="invitation.details.time"></field>
            </div>
            <div class="col-md-4">
                <field ng-model="invitation.details.location" placeholder="[Location Name]"></field>
                <br />
                <field ng-model="invitation.details.address.description" placeholder="[Location Address]"></field>
            </div>
            <div class="col-md-4">
                <p class="contact-info" ng-if="readOnly">
                    <a ng-if="invitation.details.contactPhone" ng-href="tel:{{invitation.details.contactPhone}}">
                           <i class="fa fa-phone"></i>{{invitation.details.contactPhone}}
                        </a>
                    <br/>
                    <a ng-if="invitation.details.contactEmail" ng-href="tel:{{invitation.details.contactEmail}}">
                        	<i class="fa fa-envelope"></i>{{invitation.details.contactEmail}}
                        </a>
                </p>
                <p class="contact-info" ng-if="!readOnly">
                    <i class="fa fa-phone"></i>
                    <field ng-model="invitation.details.contactPhone" placeholder="[]"></field>
                    <br/>
                    <i class="fa fa-envelope"></i>
                    <field ng-model="invitation.details.contactEmail" placeholder="[]"></field>
                </p>
            </div>
        </div>
    </fields>
    <div ng-include="'/modules/invitation/_shared/_invitationFooter.html'"></div>
</div>