<footer class="footer">
    <div class="response">
        <div class="small" ng-if="invitation.options.RSVPBefore">RSVP before: {{invitation.options.RSVPBefore | date}}</div>
        <div class="btn-group attend">
            <label>Attend?</label>
            <label class="checkbox yes" btn-radio="1" ng-model="guest.rsvpResponse.attending" ng-click="openResponseModal()">Yes</label>
            <label class="checkbox no" btn-radio="2" ng-model="guest.rsvpResponse.attending" ng-click="openResponseModal()">No</label>
            <label class="checkbox" btn-radio="3" ng-model="guest.rsvpResponse.attending" ng-click="openResponseModal()">Maybe</label>
        </div>
    </div>
</footer>