.body {
	font-size: 18px;
	color: #333;
	
	background: #EDEDED;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EDEDED 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #FFFFFF), color-stop(1, #EDEDED));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #EDEDED 100%);
	background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #EDEDED 100%);
}
.body.blue .corner-top {
	border-color: #007bff transparent transparent transparent;
	
}
 .body.blue .corner-bottom {
border-color: transparent transparent #007bff transparent;
 }
 
.body.blue .content h2, .body.blue.content h2 input{
	color: #007bff;
}

.corner-top {
	position: absolute;
	top:0;
	left:0;
width: 0;
height: 0;
border-style: solid;
border-width: 22vw 22vw 0 0;
}
.corner-bottom {
	position: absolute;
	bottom:0;
	right:0;
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 22vw 22vw;
}

.body .content{
	margin: 15vh auto;
	width: 70%;
	text-align: center;
}

.content h2, .content h2 input{
	font-size: 70px;
	font-family: 'Bitter', 'Trebuchet MS', Arial;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	margin-bottom: 40px;
}
.invitation .footer {
	background: transparent;
	margin-top: 40px;
}

