.body {
    background-image: url(/Views/Templates/minnie_daisy/background.png);
    background-color: #b386c6;
    z-index: -1;
}

.content { 
    height: 100%;
    width: 600px;
    position: relative;
    z-index: -1;
    margin: auto;
    top: -30px;
    background-image: url(/Views/Templates/minnie_daisy/minnie_head_white.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: inherit;
}

.content .text {
    color: #b386c6;
    position: relative;
    z-index: 1;
    top: 240px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 22px;
}
h2 {
    font-family: 'Cookie';
    font-size: 56px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*.img-content {
    position: relative;
    z-index: -1;
    height: 100%;
    width: auto;
    margin-top: -50px;
}*/

.img-left, .img-right {
    position: absolute;
    bottom: 10px;
    max-height: 80%;
}

.img-left {
    left: -30%;;
}

.img-right {
    right: -20%;
}

.footer {
    background-color: #a765c3;
    color: #fff;
    opacity: .9;
}

